@font-face {
  font-family: 'PrimaryFont'; 
  src: url('font/Hanson-Bold.otf'); 
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --primary-font: 'PrimaryFont';
  --secondary-font: 'Montserrat', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-height: 110vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  background-repeat: no-repeat;
}

p{
    font-family: var(--secondary-font);
}

.header-section {
  background-image: url("background.png");
  background-position: center;
  color: white;
  font-family: var(--primary-font);
  font-weight: 300;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  color: #dc3545;
  font-weight: bold;
  text-align: center;
}

.card-text {
  color: #6c757d;
  text-align: center;
  font-size: 0.9rem;
}
